footer{
    
    /*in padding the first number is the top and bottom values and the second number is the left and right values*/
    padding: 24px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}
.footer-container{
    padding: 0 40px;
    display: flex;    
    max-width: 1440px;
    margin: 0 auto;
       
    
}
.footer-container ul li:hover{
    color: rgba(0,0,0,.87);
}
.footer-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container ul li{
    color: rgba(0, 0, 0,.56);
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    cursor: pointer;

}
.links-container{
    width: 190px;
    margin-right: 50px;
    display:inline-block;
}
.footer h3{
    font-weight: 400;
    margin-bottom: 24px;
}
